/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Wet+Paint&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Nunito' !important;
    font-weight: 200 !important;
    background-color: #123332 !important;
    color: #f9eee7;
}
/* Navbar */
.navbar{
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.logo{
    width: 80px;
    height: auto;
}
.navbar-toggler{
    background-color: transparent !important;
    margin-right: 10px;
    border-color: #f9eee7 !important;
}
.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none !important ;
    background-color: #ef9c82 !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(249, 238, 231, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color:#f9eee7 !important;
    font-weight: 400 !important;
    margin-left: 30px;
    transition: color 0.3s ease-in-out;
}
.nav-link:hover{
    color: #ffd9be !important;
}
.navbar-collapse{
    transition: all 0.3s ease-in-out;
}
.coming-soon {
    display: inline-block;
    padding: 2px 6px;
    margin-left: 40px;
    font-size: 10px;
    color: #ef9c82; 
    background-color: #123332;
    border: 1px solid #ef9c82;
    border-radius: 3px;
    font-weight: bold;
}

@media (max-width:991px){
    .navbar-nav{
        margin-left: 0;
    }
    .nav-item{
        margin-right: 0;
        margin-bottom: 10px;
    }
    #navbarSupportedContent{
        background-color: rgba(29, 66, 65, 0.95) !important;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-collapse{
        opacity: 0;
    }
    .navbar-collapse.show{
        opacity: 1;
    }
}

/* Hero Section */
.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 35px 0;
    
}
.text-section{
    position: relative;
    z-index: 1;
}
.hero-title{
    font-family: "Rubik Wet Paint", system-ui;
    font-size: clamp(4rem, 8vw, 8rem);
    color: #ffd9be;
    line-height: 1.1;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero-paragraph{
    color: #f9eee7;
    font-size: clamp(1rem, 2vw, 1.5rem);
    word-wrap: break-word;
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 2rem;
}
.btn-custom{
    background-color:  #ef9c82 !important;
    color: #123332 !important;
    font-weight: 700 !important;
    padding: 1rem 2rem;
    border-radius: 50px;
    transition: all 0.3 ease;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    text-decoration: none;
    display: inline-block;
    border: none;
}
.btn-custom:hover, .btn-custom:focus{
    background-color: #ffd9be !important;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    outline: none;
}
.hero-image{
    position: relative;
    z-index: 1;
}
.hero-image img{
    filter: drop-shadow(0 0 20px rgba(239, 156, 130, 0.3));
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.hero-image img:hover {
    transform: scale(1.05);
}
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
    transition: all 0.5s ease;
}

.circle-1 {
    width: 300px;
    height: 300px;
    background-color: #ef9c82;
    top: -100px;
    left: -100px;
}

.circle-2 {
    width: 450px;
    height: 450px;
    background-color: #ffd9be;
    bottom: -200px;
    right: -200px;
}

.circle-3 {
    width: 200px;
    height: 200px;
    background-color: #f9eee7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        text-align: center;
        padding: 40px 0;
    }

    .hero-content {
        margin-bottom: 30px;
    }

    .hero-paragraph {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-custom {
        margin: 0 auto;
    }

    .hero-image img {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    .hero-content {
        display: flex;
        align-items: center;
    }

    .hero-text {
        flex: 1;
        padding-right: 30px;
    }

    .hero-image {
        flex: 1;
    }

    .circle-1 {
    width: 300px;
    height: 300px;
    top: -150px;
    left: -150px;
    }

    .circle-2 {
        width: 450px;
        height: 450px;
        bottom: -200px;
        right: -200px;
    }
    
    .circle-3 {
        width: 200px;
        height: 200px;
    }
    
}



/* Animation for circles */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.circle-1 { animation: float 7s ease-in-out infinite; }
.circle-2 { animation: float 9s ease-in-out infinite; }
.circle-3 { animation: float 8s ease-in-out infinite; }

/* Hover effect for hero content */
.hero-content:hover .circle {
    opacity: 0.15;
}

/* ABOUT */
/* General Container Styling */
.about-solara-section {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 50px 20px; */
}

.content-container {
    margin-bottom: 40px !important;
    padding-top: 40px;
    padding: 40px;
    background-color: rgba(29, 66, 65, 0.9); 
    background-image: url('Images/Lux-7.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    width: 60%;
    margin: 0 auto;
}
.who-solara, .how-solara{
    float: right;
}
.about-solara, .why-solara, .privacy-solara{
    float: left;
}
/* Hover effect */
.content-container:hover {
    transform: scale(1.05);
}
/* Typography */
.content-container h2 {
    color: #ffd9be !important;
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 40px;
    text-align: left;
    margin-bottom: 15px;
}

.content-container p {
    color: #f9eee7;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}

/* Footer */
.about-footer {
    text-align: center;
    background-image: url('Images/blob.png');
    background-size: cover;
    padding: 50px 30px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    clear: both;
}

.about-footer h6 {
    font-size: 20px;
    color: #ffd9be;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-footer p {
    font-size: 1.1rem;
    color: #f9eee7;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0.9;
}
