{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card">
        <div class = "card-header">
            {% if user.is_authenticated %}
           <p class="user_greeting"> Hi, {{user.username}} 😊</p>
            {% endif %}
            <a class="navbar-brand" href="">
                <img src="{% static "Images/logo.png" %}" class="chatbot-logo"></img>
            </a>
            <div class="logout">
                <a href="{% url "logout" %}"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #f9eee7;"></i></a> 
            </div>        
        </div>
        <div class="card-body" id="chatbox">
            {% comment %} Chat messages will be added here dynamically {% endcomment %}
        </div>
        <div class="card-footer">
            <input type="text" class ="form-control" id="userInput" placeholder = "Type something...">
            <button class="btn btn-custom mt-2" onclick="sendMessage()"><i class="fa-solid fa-paper-plane fa-xl" style="color:  #123332;"></i></button>
        </div>
    </div>
</div>
<script>
    //function to handle sending a message
    function sendMessage(){
        let userInput = document.getElementById('userInput').value;
        if(userInput.trim() === ''){
            return; //Don't send empty messages
        }

        //display user's message in the chatbox
        addChatBubble(userInput, 'user');

        //clear the input field
        document.getElementById('userInput').value = '';

        //Simulate a response from Solara
        setTimeout(() =>{
            let botResponse = "What do you wanna talk about today?"
            addChatBubble(botResponse, 'bot');
        }, 1000);
    }

    //function to add a chat bubble to the chatbox
    function addChatBubble(text, sender){
        let chatbox = document.getElementById('chatbox');
        let bubble = document.createElement('div');

        bubble.classList.add('chat-bubble', sender);
        bubble.innerText = text;

        chatbot.appendChild(bubble);

        //scroll to the bottom of the chatbox
        chatbox.scrollTop = chatbox.scrollHeight;
    }
</script>


{% endblock %}