{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card">
        <div class = "card-header">
            <div class="chat-headerbackground-container">
                <img src=" {% static "Images/Lux-7.jpg" %} " alt="backgroundimg" class="img-fluid background-image">
            </div>
            <div class="content-container">
                <a class="navbar-brand" href="">
                    <img src="{% static "Images/logo.png" %}" class="chatbot-logo"></img>
                </a>
                {% if user.is_authenticated %}
                <p class="user_greeting"> Hi, {{user.username}} 😊</p>
                {% endif %}
                <div class="logout">
                    <a href="{% url "logout" %}"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #f9eee7;"></i></a> 
                </div> 
            </div>       
        </div>
        <div class="card-body" id="chatbox">
            {% comment %} retrieve chat history {% endcomment %}
            {% for chat in chat_history  %}
                {% if chat.is_user %}
                    <div class="sender-label user">You</div>
                    <div class="chat-bubble user">{{chat.message}}</div>
                {% else %}
                    <div class="sender-label bot">Solara</div>
                    <div class="chat-bubble bot">{{chat.message}}</div>
                {% endif %}
            {% endfor %}
            {% comment %} Chat messages will be added here dynamically {% endcomment %}
        </div>
        <div class="card-footer">
            <form method = 'post' id='chat-form'>
                {% csrf_token %}
                <input type="text" class ="form-control" id="message" name="message" placeholder = "Type something...">
                <button class="btn btn-custom mt-2" type="submit"><i class="fa-solid fa-paper-plane fa-xl" style="color:  #123332;"></i></button>
            </form>                
        </div>        
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('chat-form').addEventListener('submit', sendMessage);
    });

    //function to handle sending a message
    async function sendMessage(event){
        event.preventDefault();

        let message = document.getElementById('message').value;
        if(message.trim() === ''){
            return; //Don't send empty messages
        }

        //display user's message in the chatbox
        addChatBubble(message, 'user');

        //clear the input field
        document.getElementById('message').value = '';

        //send the user's message to the backend
        try{
            let response = await fetch('/solara_ai/',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: new URLSearchParams({
                    'message':message
                })
            });

            if(!response.ok){
                const errorText = await response.text();
                throw new Error(`Network response was not ok: ${response.statusText}. ${errorText}`);
            }
            let data = await response.json();
            let botResponse = data.message;
            console.log(botResponse);
            //Display bot's response
            addChatBubble(botResponse, 'bot');
            
        } catch(error){
            console.error('There was a problem with the fetch operation', error);
        }
    }

    //function to add a chat bubble to the chatbox
    function addChatBubble(text, sender){
        let chatbox = document.getElementById('chatbox');
        let bubble = document.createElement('div');
        let senderLabel = document.createElement('div');

        //create sender senderLabel
        senderLabel.classList.add('sender-label', sender);
        senderLabel.innerText = sender === 'user'? 'You' : 'Solara'

        //add classes and text to the bubble
        bubble.classList.add('chat-bubble', sender);
        bubble.innerText = text;
        
        chatbox.appendChild(senderLabel);
        chatbox.appendChild(bubble);

        //scroll to the bottom of the chatbox
        chatbox.scrollTop = chatbox.scrollHeight;
    }
</script>


{% endblock %}