{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 right-side">
                <h2 class="register-heading">Sign In</h2>
                <form method= 'POST'>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordlHelp">
                    </div>
                    <button type="submit" class="btn btn-custom sign-up-submit">Submit</button>
                </form>
            </div>

            <div class="col-md-6 col-12 left-side">
                <div class="background-container">
                    <img src=" {% static "Images/Lux-7.jpg" %} " alt="backgroundimg" class="img-fluid background-image">
                </div>
                <div class="content-overlay">
                    <div class="top-content">
                        <a class="navbar-brand" href= " {% url "index" %} ">
                            <img src="{% static "Images/logo.png" %}" class="register-logo"></img>
                        </a>
                        <h2 class="register-heading">
                            Hello! Welcome to Solara - Vibe and Thrive
                        </h2>
                        <p class="register-none">
                        Don't have an account?
                        </p>                
                        <a href="register"><button class="btn btn-custom sign-up">Sign Up</button></a>                  
                    </div>
                    
                    <div class="bot-img-container">
                        <img src=" {% static "Images/robot.png" %} " alt="robot" class="img-fluid">
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>
{% comment %} {% else %}
<div class="not-found-container">
    <div class="not-found">
        <p>
            Oops, you heading out?😅 Where to next?
        </p>
        <a href="{% url "index" %}" class="btn btn-custom">
            Go back to Landing Page
        </a>
        <a href="{% url "logout" %}" class="btn btn-outline-danger">
            Logout
        </a>
    </div>     
</div> {% endcomment %}

{% endblock  %}